<div align="center">
  <%= will_paginate obj, :param_name => 'order_page' %>
</div>
<table class="table">
  <thead>
    <tr>
      <% if list_is_full %>
      <th scope="col">Prénom Client</th>
      <th scope="col">Nom Client</th>
      <% end %>
      <th scope="col">Recette</th>
      <th scope="col">Numéro</th>
      <th scope="col">Avancement</th>
    </tr>
  </thead>
  <tbody>
      <% obj.each do |order| %>
    <tr class="alternating-tr">
      <% if list_is_full %>
      <td><%= link_to order.user.first_name, user_path(order.user) %></td>
      <td><%= link_to order.user.last_name, user_path(order.user) %></td>
      <% end %>
      <td><%= order.recipe %></td>
      <td><%= order.id %></td>
      <td><%= order.state %></td>
      <td><%= link_to "Mettre à jour", edit_order_path(order), class: "btn btn-xs btn-primary" %></td>
    </tr>
    <% end %>
  </tbody>
</table>
<div align="center">
  <%= will_paginate obj, :param_name => 'order_page' %>
</div>
