<h1>Edit existing order</h1>
<%= render 'errors' %>
<%= form_for @order do |f| %>
  <p>
    <%= f.label :state %><br/>
    <%= f.text_field :state %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>

<<h1>Showing selected order</h1>
<p>
  Orderer's First Name : <%= @order.orderer_first_name %>
</p>
<p>
  Orderer's Last Name : <%= @order.orderer_last_name %>
</p>
<p>
  Recipe: <%= @order.recipe %>
</p>
<p>
  State: <%= @order.state %>
</p>

<%= link_to "Edit this order", edit_order_path(@order) %> |
<%= link_to "Back to orders listing", orders_path %>
