
<h1 align="center">Passez votre commande</h1>
<%= render 'shared/errors', obj: @order %>

<div class='row'>
  <div class='col-xs-12'>
    <%= form_for(@order, :html => {class: "form-horizontal", role: "form"}) do |f| %>
      <div class="form-group">
        <div class="control-label col-sm-4">
          <%= f.label :recipe, "Recette : " %>
        </div>
        <div class="col-sm-6">
          <%= f.text_field :recipe, class: "form-control", placeholder: "Recette" %>
        </div>
      </div>
      <div class="form-group">
        <div class="control-label col-sm-4">
          <%= f.label :card_number, "Numéro de Carte :" %>
        </div>
        <div class="col-sm-6">
          <%= f.text_field :card_number, class: "form-control", required: true %>
        </div>
      </div>
      <div class="form-group">
        <div class="control-label col-sm-4">
          <%= f.label :card_cvv, "Code sécurité de la carte : " %>
        </div>
        <div class="col-sm-6">
          <%= f.text_field :card_cvv, class: "form-control", required: true %>
        </div>
      </div>
      <div class="form-group">
        <div class="control-label col-sm-4">
          <%= f.label :card_expires, "Date d'expiration", data: { stripe: 'label'} %>
        </div>
        <div class="col-sm-3">
          <%= f.select :card_expires_month, options_for_select(Date::MONTHNAMES.compact.each_with_index.map { |name, i| ["#{i+1} - #{name}", i+1]}),
          { include_blank: 'Mois' },
          "data-stripe" => "exp-month",
          class: "form-control", required: true %>
        </div>
        <div class="col-sm-3">
          <%= f.select :card_expires_year, options_for_select((Date.today.year..(Date.today.year+10)).to_a.push),
          { include_blank: 'Année' },
          class: "form-control",
          required: true %>
        </div>
      </div>

<%
=begin %>

   <div class="form-group col-md-6">
     <div class="col-md-12">
       <%= f.label :card_expires, "Date d'expiration" %>
     </div>
     <div class="col-md-3">
       <%= f.select :card_expires_month, options_for_select(Date::MONTHNAMES.compact.each_with_index.map { |name, i| ["#{i+1} - #{name}", i+1]}),
       { include_blank: 'Mois' },
       class: "form-control", required: true %>
     </div>
     <div class="col-md-3">
       <%= f.select :card_expires_year, options_for_select((Date.today.year..(Date.today.year+10)).to_a.push),
       { include_blank: 'Année' },
       class: "form-control",
       required: true %>
     </div>
   </div>

<%
=end %>
   <div class="form-group">
     <div class="col-sm-offset-4 col-sm-4">
       <%= f.submit "Je passe ma commande", class: 'btn btn-primary btn-lg'  %>
     </div>
   </div>
    <% end %>
  </div>
</div>
